body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    background-color: rgb(83, 53, 255);
}

button{
    height: 90px;
    width: 550px;
    font-size: 17px;
    border-radius: 9px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
}